:root {
  --left-padding: 2rem;
  --pressable-color: rgb(97, 148, 212);
}

.jaro-bold {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  min-height: 100vh;
}

.sign-up {
  display: flex;
  height: 100vh;
}

.right-section {
    background-color: whitesmoke;
    flex: 3;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.image {
  flex: 2;
  background-image: url(data/images/starBG_klemen-vrankar_unsplash.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.image-text {
  position: absolute;
  top: 3rem;
  background-color: #ffffff13;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  background-image: url(data/images/odin-lined.png);
  width: 25%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.brand-name {
  font-family: "Jaro", "sans-serif";
  color: whitesmoke;
  margin: auto 1rem;
  font-size: 4rem;
}

.credit {
  position: absolute;
  color: white;
  font-weight: 700px;
  font-family: "Jaro";
  bottom: 0;
  font-size: 0.75rem;
  width: 100%;
  text-align: center;
}

.header {
}

form {
  background-color: white;
  box-shadow: 0px 5px 25px black;
  border-radius: 15px;
}


ul {
  display: inline-block;
  padding: 0;
  list-style: none;
  margin-right: 2rem;
}

ul>li {
  margin-bottom: 1rem;
}

label {
  display: block;
}

input {
  display: block;
}

.right-section > * {
  padding-left: var(--left-padding);
}

.bottom > button {
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: var(--pressable-color);
  border: 0;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.existing-user > button  {
  background-color: inherit;
  border: 0px;
  font-weight: 500;
  color: var(--pressable-color);
}

button:hover {
  /* box-shadow: 0px 0px 1px black; */
  text-shadow: 0px 0px 1px black;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

input:focus {
  border: 2px solid rgb(0, 195, 255);
}